.body {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em 2em 1em 2em;
  background: #fff;
  border-radius: 30px;
}

.h2 {
  font-size: 20px;
}

.authButton {
  display: flex;

  margin-left: 4em;
  padding: 0.5em 2em;
  width: 200px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #e9e9e9;
  transition: 0.3s;
  position: relative;
  border: none;
  border-radius: 7%;
  &::after {
    position: absolute;
    top: 16px;
    right: 20px;
    content: "";
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
  }
  &:hover {
    margin-top: 3px;
    color: #fff;
    background: #517fa7;
    border-bottom: 2px solid #334f68;
    letter-spacing: 1px;
  }
}
