@import "./titleAnimation";
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);

.animeteTitle_inview {
  font-size: 25px;
  display: inline-block;
  text-shadow: 0px 2px 2px #3e3e3e;
  z-index: 5000;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828,
    0 5px 0 #262626, 0 0px 30px rgba(0, 0, 0, 0.9);
}

.animeteTitle {
  transition: all $easeOutSine 0.3s;
  &:hover {
    cursor: pointer;
    @include animation(shadow);
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}
