$HeaderColor: #367cda;

.headerNav {
  width: 100%;
  height: 60px;
  color: aliceblue;
  background: $HeaderColor;
  opacity: 0.7;
  padding-top: 5px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
}

.headerUl {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.headerLi {
  display: flex;
  &:nth-child(1) {
    size: 33px;
    margin-right: 55%;
  }
}

.headerHref {
  display: flex;
  color: #7fffd4;
  padding: 5px;
}
